.board-column{
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background: white;
  width: 170px;
}
.board-column-title {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: lightseagreen;
}
.column-item-task{
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 220px;
  
    display: flex;
    flex-direction: column;
}
.task-item-list{
    padding: 8px;
    transition: 'background-color 0.2s ease';
    background-color: rgb(139, 160, 168);
    flex-grow: 1;
    min-height: 100px;
}
.task-item{
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
}